.flipCard {
  font-size: 1.2rem;
  height: 8em;
  width: 12em;
  background-color: #4682b4;
  border: 2px solid #d7d7d7;
  margin: 1em 0 1em 1em;
  border-radius: 0.4em;
  color: #f5f5f5;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flipCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-direction: row;
}
