.header {
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: row;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 3rem;
  color: var(--header-text-color);
  font-weight: bold;
}

.sideBar {
  display: flex;
  align-self: flex-end;
  color: var(--header-text-color);
  font-weight: bold;
}

.sideBar * + * {
  margin-left: 0.5em;
}

.sideButton {
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.sideButton:hover {
  color: orange;
  transform: scale(1.1);
}
